.calcWrapper {
  width: 40%;
  position: relative;
  top: 10%;
  left: 10%;
}

.calcContainer {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.calcInput {
  font-size: 1.5rem;
  font-weight: 700;
  grid-column: 1 / -1;
  background-color: black;
  display: flex;
  color: white;
}
.operationButton {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(116, 23, 124, 1) 0%,
    rgba(121, 9, 73, 1) 52%,
    rgba(168, 43, 140, 1) 100%
  );
  transition: background 0.7s;
}
.operationButton:hover {
  color: white;
  background: linear-gradient(
    270deg,
    rgb(165, 76, 175) 0%,
    rgb(73, 23, 51) 52%,
    rgb(143, 51, 123) 90%
  );
}
.funcButtons {
  cursor: pointer;
  grid-column: span 2;
  background-color: black;
  color: white;
  border: white 1px solid;
  font-size: clamp(16px, 3vw, 24px);
  transition: background-color 0.7s;
}
.funcButtons:hover {
  background-color: white;
  color: black;
}
.funcButtonsEquals {
  cursor: pointer;
  grid-column: span 4;
  background-color: black;
  color: white;
  border: white 1px solid;
  font-size: clamp(16px, 3vw, 24px);
  min-height: 5rem;
  transition: background-color 0.7s;
}
.funcButtonsEquals:hover {
  background-color: white;
  color: black;
}
