.digitButton {
  background-color: rgb(169, 142, 190);
  border: 1px solid white;
  font-size: clamp(16px, 3vw, 24px);
  transition: background-color 0.7s;
}
.digitButton:hover {
  background-color: white;
}
