.operationButton {
  background: linear-gradient(
    90deg,
    rgba(116, 23, 124, 1) 0%,
    rgba(121, 9, 73, 1) 52%,
    rgba(168, 43, 140, 1) 100%
  );
  border: 1px solid white;
  font-size: clamp(16px, 3vw, 24px);
  cursor: pointer;
}

.operationButton:hover,
.digitButton:focus {
  color: white;
  background: linear-gradient(
    270deg,
    rgb(165, 76, 175) 0%,
    rgb(73, 23, 51) 52%,
    rgb(143, 51, 123) 90%
  );
}
