.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 5px whitesmoke;
}
.dailyWrapper {
  width: 100%;
}
.dailyContainer {
  display: flex;
  flex-direction: column;
}
.dailyTop {
  margin-top: 3em;
  align-items: baseline;
  justify-content: space-around;
  display: flex;
  min-height: 170px;
  animation: topContainerAnim 1.5s ease-in-out;
}
.dailyTopLeft {
  display: flex;
  flex: 3 3 600px;
}
.dailyTopRight {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.dailyBottom {
  box-shadow: 0px 0px 10px black;
  font-size: clamp(7px, 1vw, 11px);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 24, 27, 0.2);
  max-height: 500px;
}

.dailyBottomContainer {
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  display: flex;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

.dailyBottomCurrentForeCast {
  flex: 1 1 200px;
}
.dailyBottomDailyForeCast {
  flex: 5 1 500px;
  display: flex;
}
.timeAndDataContainer {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
}
.timeAndDataContainer h3 {
  margin-left: 100px;
  margin-top: 0;
}
.weatherData {
  max-width: 60%;
  box-shadow: 0px 0px 7px white;
  display: inline-flex;
  flex-direction: column;
  border: 1px white solid;
  background: linear-gradient(
    90deg,
    rgb(214, 214, 214) 0%,
    rgb(208, 208, 224) 49%,
    rgb(198, 215, 219) 100%
  );

  border-radius: 15px;
}
.weatherData > div:not(:last-child),
.weatherData > div:not(:first-child) {
  padding: 0.3rem 1rem;
}
.weatherDataItem {
  color: black;
  font-weight: 500;
  display: inline-flex;
  font-size: clamp(14px, 2vw, 20px);
}
.time {
  color: black;
  font-size: clamp(16px, 3vw, 26px);
  font-weight: 500;
}

.date {
  margin-top: 30px;
  color: black;
  font-size: 40px;
  font-weight: 500;
}
.dailyTopRightLocation {
  text-transform: uppercase;
  color: black;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px 0px 0px;
}
.weatherDataContainer {
  display: flex;
  flex-direction: column;
}
.dailyBottomContainer {
  margin: 35px 50px 35px 50px;
  border: black 3px solid;
  width: 100%;
  display: flex;
}

.dailyBottomCurrentForeCastContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 50px;
  cursor: pointer;
}
.dailyBottomCurrentForeCastContainer::before {

  position: absolute;
  top: 0;
  border-radius: 10px;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.4);
  transition: width 0.5s ease-in-out;
  width: 0%;
  height: 100%;
  mix-blend-mode:difference;
 filter:blur(45px);
  
}
.dailyBottomCurrentForeCastContainer:hover::before {
  width: 100%;

}
.inputAndTownContainer {
  display: flex;
  flex-direction: column;
}
.currentDay {
  font-size: 2.5em;
  width: max-content;
  background-color: rgba(22, 24, 27, 0.2);
  border: black solid 1px;
  padding: 10px;
  border: white solid 2px;
  border-radius: 15px;
  color: white;
}
.weatherTimeCurrent {
  color: black;

  font-weight: 500;
  font-size: 2em;
}
.dateAndTimeContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .dailyBottomContainer {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 1300px) {
  .time {
    color: black;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 500;
  }
  .date {
    color: black;
    font-size: clamp(16px, 3vw, 26px);
    font-weight: 500;
  }
  .dailyTopRightLocation {
    color: black;
    font-size: clamp(20px, 3vw, 35px);
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px 0px 0px;
  }
  .weatherData {
    display: inline-flex;
    flex-direction: column;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 40%;
  }
}
.input {
  margin-top: 2rem;
  align-self: flex-end;
  min-height: 35px;
  position: relative;
  border: 2px rgb(159, 54, 185) solid;
  border-radius: 13px;
  font-size: clamp(16px, 3vw, 24px);
  font-weight: 500;
  width: 50%;
}
.show {
  animation: containerAnIM 1s ease-in;
}
.show2 {
  animation: topContainerAnim 1s ease-in-out;
}
@keyframes containerAnIM {
  0% {
    transform: translate3d(10px, 10px, -500px) scaleZ(0.8) skew(10deg, 5deg);

    opacity: 0;
  }

  100% {
    transform: translate3d(0px, 0px, 0px) scaleZ(1) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes topContainerAnim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
