.Item {
  position: relative;
  margin: 50px 20px 0px 20px;
  cursor: pointer;
  width: minmax(2rem, 6rem);
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listItem {
  list-style: none;
}

.matchButtonStyle {
  border-top: white 2px solid;
  color: white;
}
.hiddenList {
  position: absolute;
  border: 2px solid white;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(150, 160, 252)
  );
  z-index: 550;
  min-width: 150px;
  top: 6.3rem;
  left: 0;
  padding-left: 0.4rem;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
