.optionsContainer {
  display: inline-block;
  min-width: 10rem;
  background-color: white;
  border: 2px solid black;
  font-size: clamp(12px, 1vw, 17px);
}
.option {
  margin: 0.5rem;
  border-bottom: 1px solid black;
  margin-top: 0.5rem;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  background: -webkit-linear-gradient(
    45deg,
    rgb(179, 18, 18),
    rgb(206, 4, 139)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.option:hover {
  background: -webkit-linear-gradient(270deg, rgb(0, 0, 0), rgb(153, 17, 108));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
