.textSectionWrapper {
  text-shadow: 0px 0px 3px rgb(2, 2, 2);
  background: linear-gradient(
    to left,
    rgba(235, 189, 235, 0.6),
    rgba(243, 174, 240, 0.6)
  );
  border: 2px white solid;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem 1rem 1rem 1rem;
}
.textSectionWrapper:last-child {
  background: linear-gradient(
    to left,
    rgba(235, 189, 235, 0.6),
    rgba(243, 174, 240, 0.6)
  );
  border: 2px white solid;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem 1rem 10rem 1rem;
}
.sectionText {
  line-height: 1.6rem;
  font-family: Roboto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 1rem;
  font-size: clamp(16px, 3vw, 20px);
  color: rgb(0, 0, 0);
}
.sectionText::first-letter {
  color: hotpink;
  padding: 0 0.3rem;
  margin: 0.5rem 0.5rem 2rem 0.7rem;
  border: 2px solid;
  border-radius: 8px;
  font-family: 'IBM Plex Mono';
  font-size: 4rem;
  line-height: 1.1;
}
