.imgWrapper {
  width: 100%;
  display: flex;
}
.imgContainer {
  margin: 1rem;
}

.image1 {
  border: white 2px solid;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  overflow: hidden;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: auto;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
@media (max-width: 700px) {
  .imgWrapper {
    flex-direction: column;
  }
}
