.seekBar {
  position: relative;
  width: 70%;
  height: 15px;
  border-radius: 15px;
  border: #3df8ed 2px solid;
}
.timeAndSeekBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progressBar {
  height: 14.8px;
  position: absolute;
  background-color: #3df8ed;
}
.bufferingBar {
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 15px;
  background-color: white;
  top: 0;
}
